<div id="<%= dom_id service_management %>">
  <p>
    <strong>Client:</strong>
    <%= service_management.client.name %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= service_management.contact.name %>
  </p>

  <p>
    <strong>Vehiculo:</strong>
    <%= service_management.vehiculo.name %>
  </p>

  <p>
    <strong>Repair:</strong>
    <%= service_management.repair.name %>
  </p>

  <p>
    <strong>Service:</strong>
    <%= service_management.service.name %>
  </p>

</div>
